body {
    font-family: "Nunito Sans", sans-serif;
    background-color: #dee2e6;
}
.card {
    border: none;
    transition: 0.3s;
}

.btn-dark {
    background-color: #212529;
    border: none;
}

.btn-dark:hover {
    background-color: #2b3035;
}